name: Buid, create and push docker image

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    
  workflow_dispatch:

jobs:
  build_create_image:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
              
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    
    - name: Packing war file
      run: mkdir staging && cp ./webapp/target/webapp.war staging
      
    - name: Upload to artifact  
      uses: actions/upload-artifact@v3
      with:
        name: Package
        path: staging
      

    - name: Build the Docker image   
      run: docker build . --file Dockerfile --tag nishashah29/javawebapplication:latest
      
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Docker push   
      run: docker push nishashah29/javawebapplication:latest   
